.user-offer{
  width: 100%;
  height: 100%;
  background-color: #313131;
}
.user-packages{
  height: 600px;
  width: 25%;
  background-color: #fff;
  margin: auto 20px auto auto;
  float: left;
  border: 2px solid #ffdc0c;
  border-radius: 10px;
  position: relative;
}
.user-packages:hover{
  transform: scale(1.05);
}
.user-packages ul{
  text-align: left;
  font-size: 20px;
  list-style: none;
}
.more-btn{
  color: #616161;
  cursor: pointer;
  position: absolute;
}
.more-btn:hover{
  transform: scale(1.1);
}
.offer-container{
  position: absolute;
  top: 50%;
  left: 12.5%;
  margin-top: -241px;
  height: 600px;
  width: 100%;
}
.user-packages input{
  border: none;
  background-color: #4F7131;
  margin-top: 40px;
  height: 40px;
  width: 80%;
  border-radius: 20px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}
.user-packages input:hover{
  opacity: 0.6;
}
.show{
  display: block;
}
.hide{
  display: none;
}
.my-account-page{
  height: calc(100% - 122px);
  width: 80%;
  position: absolute;
  left: 10%;
  bottom: 0;
  background-color: #fff;
}
.my-account-h1{
  margin-bottom: 40px;
  font-size: 40px;
}
.right-container{
  float: right;
  width: calc(78% - 2px);
}
.my-account-menu{
  float: left;
  width: 22%;
  border-right: 2px solid #ffdc0c;
  padding: 0;
  height: 100%;
  background-color: #000;
  color: #fff;
}
.my-account-menu ul{
  list-style: none;
  float: left;
  width: 100%;
}
.my-account-menu ul li{
  position: relative;
  font-size: 20px;
  margin-bottom: 40px;
  margin-left: -25px;
  width: 100%;
  text-align: left;
  cursor: pointer;
}
.my-account-menu ul li:hover{
  color: #ffdc0c;
}
.edit-my-profile{
  margin-top: 10%;
}
.edit-profile-btn{
  margin-top: 30px;
  width: 25%;
  height: 35px;
  border-radius: 20px;
  background-color: #212121;
  color: #FFF;
  border: none;
  cursor: pointer;
}
.edit-profile-btn:hover{
  opacity: 0.6;
}
.edit-my-profile input{
  height: 30px;
  width: 30%;
  background-color: #515151;
  border: none;
  color: #fff;
  font-size: 20px;
}
.edit-my-profile select{
  width: 25%;
  font-size: 20px;
}
.my-package{
  margin-top: 10%;
}
.my-package input{
  border: none;
  background-color: #4F7131;
  margin-top: 40px;
  height: 40px;
  width: 25%;
  border-radius: 20px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}
.my-package input:hover{
  opacity: 0.6;
}

.my-package p {
  font-size: 25px;
}
.payment-cards{
  margin-top: 5%;
}
.user-cards{
  width: 50%;
  min-height: 100px;
  max-height: 200px;
  overflow: auto;
  background-color: #515151;
  margin: auto;
  color: #FFF;
  margin-bottom: 20px;
  text-align: left;
}
.user-cards p{
  padding-left: 20px;
  font-size: 25px;
}
.payment-cards button{
  width: 25%;
  height: 40px;
  background-color: #414141;
  color: #FFF;
  cursor: pointer;
  border: none;
  border-radius: 20px;
}
.payment-cards button:hover{
  opacity: 0.6;
}
.add-card-popup::before{
  position: relative;
  top: -32px;
  left: -100px;
  border: solid transparent;
  content: '';
  border-bottom-color: #ffdc0c;
  border-width: 12px;
  margin-right: -200px;
}
.add-card-popup{
  width: 50%;
  height: 390px;
  margin: 20px auto;
  background-color: #515151;
  border: 2px solid #ffdc0c;
  color: #fff;
  text-align: center;
}
.valid-date{
  width: 40px;
}
.card-ccv{
  width: 50px;
}
.add-card-popup button{
  margin-top: 15px;
}
.need-help{
  margin-top: 10%;
}
.need-help p{
  opacity: 0.7;
  cursor: default;
}
.need-help p:hover{
  opacity: 1;
}
.need-help input{
  width: 60%;
  height: 300px;
  padding: 0;
}
.need-help textarea{
  resize: none;
  width: 40%;
  height: 100px;
  margin-top: 20px;
  padding-left: 5px;
  background-color: #515151;
  color: #fff;
}
.need-help select{
  background-color: #515151;
  color: #fff;
}
.need-help button{
  width: 10%;
  height: 35px;
  border: none;
  border-radius: 20px;
  background-color: #515151;
  color: #FFF;
  cursor: pointer;
}
.need-help button:hover{
  opacity: 0.6;
}
.selected{
  color: #ffdc0c;
}
.main-page{
  min-height: calc(100% - 122px);
  position: relative;
  top: 122px;
  width: 100%;
}
.main-page-welcome{
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url('../img/welcome.jpg');
  background-repeat: no-repeat;
  background-attachment: initial;
  background-position: center;
  background-size: cover;
  color: #fff;
}
.main-page-welcome input{
  border: none;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  width: 50px;
  height: 50px;
  font-size: 25px;
  border-radius: 25%;
  cursor: pointer;
  position: absolute;
  top: 90%;
  left: 50%;
  margin-left: -25px;
  border: 1px solid #ffdc0c;
}
.main-page-welcome input:hover{
  animation: select 0.8s infinite;
}
@keyframes typing{
    from{ width: 0 }
    to{ width: 100% }
}
@keyframes select{
  0%{ transform: scale(1) }
  50%{ transform: scale(1.2) }
  100%{ transform: scale(1) }
}
@keyframes paragrapAnimation{
  0%{ 
    background-color: #fff; 
    color: #000;
  }
  100%{
    background-color: #313131;
    color: #fff;
  }
}
@keyframes h1Animation{
  0%{
    color: #000;
  }
  100%{
    color: #ffdc0c;
  }
}
.text-box{
  height: 125px;
  width: 30%;
  position: absolute;
  top: 50%;
  left: 35%;
  margin-top: -64.5px;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #ffdc0c;
  padding-left: 10px;
  padding-right: 10px;
}
.text-box h1{
  margin-top: -2px;
  font-size: 40px;
  color: #ffdc0c;
}
.text-box h2{
  margin-top: -15px;
  font-size: 30px;
  overflow: hidden;
  white-space: nowrap;
  margin: -10px auto;
  animation: typing 3s;
}
.main-page-body{
  position: absolute;
  top: 100%;
  width: 98%;
  height: 100%;
  padding-top: 20px;
  padding-left: 15px;
}
.main-page-body p{
  width: 30%;
  height: 30%;
  font-size: 18px;
  cursor: default;
}
.p1{
  float: left;
}
.p2{
  display: inline-block;
}
.p3{
  float: right;
}
.main-page-body p:hover{
  animation: paragrapAnimation 1s;
  animation-fill-mode: forwards;
}
.main-page-body p:hover h1{
  animation: h1Animation 1s;
}
.our-team-container{
  height: 400px;
  width: 100%;
  background-color: #313131;
  position: absolute;
  left: 0.5%;
  bottom: 0;
  color: #fff;
}
.single-avatar-container{
  width: 25%;
  float: left;
  text-align: center;
}
.single-avatar-container img:hover{
  border: 5px solid #ffdc0c;
}
.avatar-img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #ffdc0c;
}
.about-us-main{
  height: calc(100% - 122px);
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 0;
}
.about-us-main p{
  width: 80%;
  margin: 20px auto;
  font-size: 18px;
  cursor: default;
}
.article{
  cursor: default;
  height: auto;
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.article:hover{
  animation: paragrapAnimation 1s;
  animation-fill-mode: forwards;
}
.about-us-gallery{
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #313131;
}
.about-us-gallery img{
  position: relative;
  bottom: 0;
  margin-left: 20px;
  background-color: #fff;
}
.about-us-gallery input{
  position: relative;
  bottom: -160px;
  height: 40px;
  width: 40px;
  font-size: 25px;
  border: none;
  border-radius: 50%;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
.about-us-gallery input:hover{
  border: 2px solid #ffdc0c;
  color: #ffdc0c;
  animation: select 0.7s infinite;
}
#left{
  float: left;
  margin-left: 20px;
}
#right{
  float: right;
  margin-right: 20px;
}
.show-img{
  display: inline-block;
}
.no-select-img{
  opacity: 0.6;
}
.no-visible{
  visibility: hidden;
}
.packages-main{
  height: calc(100% - 122px);
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #313131;
  color: #fff;
}
.packages-header{
  margin: 20px auto;
}
.packages-header ul{
  list-style: none;
  margin: auto;
}
.packages-header ul li{
  float: left;
  width: 33%;
  font-size: 25px;
  background-color: #fff;
  color: #313131;
  cursor: pointer;
}
.packages-header ul li:hover{
  opacity: 0.6
}
.packages-body{
  width: 100%;
  height: calc(100% - 50px);
  position: absolute;
  bottom: 2px;
  border-bottom: 2px solid #ffdc0c;
  margin: auto;
}
.upper-paragraph{
  width: 48%;
  float: left;
  margin-left: 20px;
}
.lower-paragraph{
  width: 33%;
  float: left;
  margin-top: 50px;
}
.package-main-container img{
  width: 500px;
  height: 300px;
  position: absolute;
  top: 300px;
  left: 50%;
  margin-left: -250px;
}
.packages-main input {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -150px;
  height: 50px;
  width: 300px;
  border: none;
  border-radius: 25px;
  background-color: #4F7131;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}
.packages-main input:hover{
  opacity: 0.6;
}
.package-li{
  text-decoration: none;
  color: #313131;
}
.contact-main{
  height: calc(100% - 122px);
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #313131;
  color: #fff;
}
.contact-methods-container{
  width: 90%;
  height: 400px;
  margin: auto;
}
.call-container{
  float: left;
  width: 50%;
}
.send-email-container{
  float: right;
  width: 38%;
  height: 90%;
}
.send-email-container input{
  width: 80%;
  height: 30px;
  border: none;
  border-bottom: 2px solid #ffdc0c;
  background-color: #313131;
  color: #fff;
}
.send-email-container select{
  width: 80%;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #ffdc0c;
  background-color: #313131;
  color: #fff;
}
.send-email-container textarea{
  resize: none;
  width: 80%;
  height: 200px;
  border: 2px solid #ffdc0c;
  background-color: #515151;
  padding-left: 10px;
  color: #fff;
  margin-bottom: 20px;
}
.send-email-container button{
  width: 25%;
  height: 30px;
  background-color: #ffdc0c;
  color: #313131;
  cursor: pointer;
  border: none;
}
.send-email-container button:hover{
  border: 2px solid #ffdc0c;
  width: calc(25% - 4px);
  height: 26px;
  background-color: #313131;
  color: #fff;
}
.locations-container{
  height: 400px;
  width: 50%;
  position: relative;
  bottom: 200px;
  left: 30px;
}
.map-container{
  margin: auto;
  width: 80%;
  height: 80%;
  background-color: #fff;
}
@media screen and (min-width: 731px) and ( max-width: 1271px){
  .offer-container{
    margin: auto;
    float: left;
    position: absolute;
    top: 20%;
    left: 0;
    padding-left: 5%;
    height: 100%;
    width: 95%;
  }
  .user-packages{
    width: 30%;
    position: relative;
  }
  .user-packages ul{
    font-size: 14px;
  }
}
@media screen and (max-width: 730px){
  .user-packages{
    width: 95%;
    height: 550px;
    margin: 0;
    position: relative;
    margin-bottom: 40px;
  }
  .offer-container{
    width: 100%;
    height:auto;
    margin-top: 62px;
    margin-left: -12.5%;
    padding-left: 2%;
    background-color: #313131;
    top: 150px;
  }
  .user-offer{
    position: absolute;
    background-color: #313131;
    background-size: cover;
    width: 100%;
    text-align: center;
  }
  .user-packages ul{
    font-size: 14px;
  }
}
