.user-offer{
  width: 100%;
  height: 100%;
}
.user-packages{
  height: 600px;
  width: 30%;
  background-color: #fff;
  margin-right: 20px;
  float: left;
  border: 2px solid #ffdc0c;
  border-radius: 10px;
  position: relative;
}
.user-packages:hover{
  transform: scale(1.1);
}
.user-packages ul{
  text-align: left;
  font-size: 20px;
  list-style: none;
}
.more-btn{
  color: #616161;
  cursor: pointer;
  position: absolute;
}
.more-btn:hover{
  transform: scale(1.1);
}
.offer-container{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -650px;
  height: 600px;
  width: 1300px;
}
.user-packages input{
  border: none;
  background-color: #4F7131;
  margin-top: 40px;
  height: 40px;
  width: 80%;
  border-radius: 20px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}
.user-packages input:hover{
  opacity: 0.6;
}
.show{
  display: block;
}
.hide{
  display: none;
}
.my-account-page{
  height: calc(100% - 122px);
  width: 80%;
  position: absolute;
  left: 10%;
  bottom: 0;
  background-color: #fff;
}
.my-account-h1{
  margin-bottom: 40px;
  font-size: 40px;
}
.right-container{
  float: right;
  width: calc(78% - 2px);
}
.my-account-menu{
  float: left;
  width: 22%;
  border-right: 2px solid #ffdc0c;
  padding: 0;
  height: 100%;
  background-color: #000;
  color: #fff;
}
.my-account-menu ul{
  list-style: none;
  float: left;
  width: 100%;
}
.my-account-menu ul li{
  position: relative;
  font-size: 20px;
  margin-bottom: 40px;
  margin-left: -25px;
  width: 100%;
  text-align: left;
  cursor: pointer;
}
.my-account-menu ul li:hover{
  color: #ffdc0c;
}
.edit-my-profile{
  margin-top: 10%;
}
.edit-profile-btn{
  margin-top: 30px;
  width: 25%;
  height: 35px;
  border-radius: 20px;
  background-color: #212121;
  color: #FFF;
  border: none;
  cursor: pointer;
}
.edit-profile-btn:hover{
  opacity: 0.6;
}
.edit-my-profile input{
  height: 30px;
  width: 30%;
  background-color: #515151;
  border: none;
  color: #fff;
  font-size: 20px;
}
.edit-my-profile select{
  width: 25%;
  font-size: 20px;
}
.my-package{
  margin-top: 10%;
}
.my-package input{
  border: none;
  background-color: #4F7131;
  margin-top: 40px;
  height: 40px;
  width: 25%;
  border-radius: 20px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}
.my-package input:hover{
  opacity: 0.6;
}

.my-package p {
  font-size: 25px;
}
.payment-cards{
  margin-top: 5%;
}
.user-cards{
  width: 50%;
  height: 100px;
  background-color: #515151;
  margin: auto;
  color: #FFF;
  margin-bottom: 20px;
  border: 2px solid #ffdc0c;
}
.payment-cards button{
  width: 25%;
  height: 40px;
  background-color: #414141;
  color: #FFF;
  cursor: pointer;
  border: none;
  border-radius: 20px;
}
.payment-cards button:hover{
  opacity: 0.6;
}
.add-card-popup::before{
  position: relative;
  top: -32px;
  left: -100px;
  border: solid transparent;
  content: '';
  border-bottom-color: #ffdc0c;
  border-width: 12px;
  margin-right: -200px;
}
.add-card-popup{
  width: 50%;
  height: 390px;
  margin: 20px auto;
  background-color: #515151;
  border: 2px solid #ffdc0c;
  color: #fff;
  text-align: center;
}
.valid-date{
  width: 40px;
}
.card-ccv{
  width: 50px;
}
.add-card-popup button{
  margin-top: 15px;
}
.need-help{
  margin-top: 10%;
}
.need-help p{
  opacity: 0.7;
  cursor: default;
}
.need-help p:hover{
  opacity: 1;
}
.need-help input{
  width: 60%;
  height: 300px;
  padding: 0;
}
.need-help textarea{
  resize: none;
  width: 40%;
  height: 100px;
  margin-top: 20px;
  padding-left: 5px;
  background-color: #515151;
  color: #fff;
}
.need-help select{
  background-color: #515151;
  color: #fff;
}
.need-help button{
  width: 10%;
  height: 35px;
  border: none;
  border-radius: 20px;
  background-color: #515151;
  color: #FFF;
  cursor: pointer;
}
.need-help button:hover{
  opacity: 0.6;
}
.selected{
  color: #ffdc0c;
}
.main-page{
  min-height: calc(100% - 122px);
  position: relative;
  top: 122px;
  left: 10%;
  width: 80%;
  background-color: #fff;
}
.main-page-welcome{
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url('../img/welcome.jpg');
  background-repeat: no-repeat;
  background-position: cover;
  background-size: 100%;
  color: #fff;
}
.text-box{
  height: 125px;
  width: 400px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: -64.5px;
  margin-left: -202px;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #ffdc0c;
}
.text-box h1{
  margin-top: -2px;
  font-size: 40px;
  color: #ffdc0c;
}
.text-box h2{
  margin-top: -15px;
  font-size: 30px;
}
@media screen and (min-width: 731px) and ( max-width: 1271px){
  .offer-container{
    margin: auto;
    float: left;
    position: absolute;
    top: 150px;
    left: 0;
    margin-left: calc(50% - 365px);
    width: 730px;
  }
  .user-packages{
    width: 30%;
    position: relative;
  }
  .user-packages ul{
    font-size: 14px;
  }
}
@media screen and (max-width: 730px){
  .user-packages{
    width: 90%;
    height: 95%;
    margin: 0;
    float: left;
    position: relative;
    left: 5%;
    margin-bottom: 40px;
  }
  .offer-container{
    width: 100%;
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
    top: 150px;
  }
  .user-offer{
    margin-left: -50%;
    text-align: center;
  }
  .user-packages ul{
    font-size: 14px;
  }
}
