.App-header {
  background-color: #515151;
  height: 120px;
  padding: 0;
  color: white;
  border-bottom: 2px solid #ffdc0c;
}
.header-logo{
  float: left;
  height: 150px;
  width: 150px;
}
.btn-list{
  position: relative;
  list-style: none;
  float: right;
  margin-top: -92px;
  width: calc(100% - 152px);
}
.btn-list li{
  float: left;
  position: relative;
  height: 31px;
  width: 33.33%;
  border-top: 1px solid #ffdc0c;
  cursor: pointer;
  padding-top: 30px;
}
.btn-list li:hover{
  opacity: 0.6;
  background-color: #313131;
  width: calc(33.33% - 2px);
  border-right: 1px solid #ffdc0c;
  border-left: 1px solid #ffdc0c;
}
.sign-in-btn{
  float: right;
  margin-right: 30px;
  margin-top: 12.5px;
  height: 30px;
  width: 120px;
  background-color: #717171;
  border: none;
  color: #fff;
  cursor: pointer;
}
.sign-in-btn:hover{
  opacity: 0.6;
  background-color: #313131;
  transform: scale(1.05);
}
/*Sign in popuo styles*/
.sign-in-popup{
  width: 400px;
  height: 600px;
  background-color: #515151;
}