.App-header {
  background-color: #515151;
  height: 120px;
  padding: 0;
  color: white;
  border-bottom: 2px solid #ffdc0c;
}
.header-logo{
  float: left;
  height: 150px;
  width: 150px;
}
.btn-list{
  position: relative;
  list-style: none;
  float: right;
  margin-top: -92px;
  width: calc(100% - 152px);
}
.btn-list li{
  float: left;
  position: relative;
  height: 31px;
  width: 33.33%;
  border-top: 1px solid #ffdc0c;
  cursor: pointer;
  padding-top: 30px;
}
.btn-list li:hover{
  opacity: 0.6;
  background-color: #313131;
  width: calc(33.33% - 2px);
  border-right: 1px solid #ffdc0c;
  border-left: 1px solid #ffdc0c;
}
.sign-in-btn{
  float: right;
  margin-right: 30px;
  margin-top: 12.5px;
  height: 30px;
  width: 120px;
  background-color: #717171;
  border: none;
  color: #fff;
  cursor: pointer;
}
.sign-in-btn:hover{
  opacity: 0.6;
  background-color: #313131;
  transform: scale(1.05);
}
/*Sign in popup styles*/
@keyframes show{
  0%{
    transform: scale(0)
  }
  100%{
    transform: scale(1)
  }
}
.sign-in-popup::before{
  position: absolute;
  bottom: 100%;
  left: 90%;
  border: solid transparent;
  content: '';
  border-bottom-color: #ffdc0c;
  border-width: 12px;
  margin-right: -200px;
}
.sign-in-popup{
  width: 700px;
  height: 450px;
  background-color: #313131;
  border: 1px solid #ffdc0c;
  float: right;
  margin-right: 20px;
  margin-top: -92px;
  position: relative;
  display: none;
}
.show{
  animation: show 0.45s;
  display: block;
}
.right-popup-container{
  width: 400px;
  height: 410px;
  border-left: 1px solid #ffdc0c;
  float: right;
  padding-top: 40px;
}
.left-popup-container{
  float: left;
  text-align: left;
  padding-left: 20px;
  padding-top: 40px;
}
.left-popup-container p{
  cursor: pointer;
  color: #ffdc0c;
}
.left-popup-container p:hover{
  opacity: 0.6;
}
.sign-in-popup h1{
  margin-top: -5px;
  color: #ffdc0c;
}
.sign-in-form{
  margin-top: 20px;
}
.sign-in-form input{
  width: 70%;
  height: 30px;
}
.sign-in-btn-in-form{
  margin-top: 50px;
  border: none;
  background-color: #ffdc0c;
}